<!DOCTYPE html>
<html>
<head>
  <title>GetOutside!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>



  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>


<%= yield %>

</body>
</html>
